<div>
  <div class="flex justify-between">
    <div>
      <h1 class="text-3xl font-bold leading-6 my-3 py-auto">Articles</h1>
    </div>
    <div>
      <%= link_to "New Article", new_article_path, class: "py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" %>
    </div>
  </div>
</div>